:root {
    --main-color: #ffffff;
    --side-bar-color: #f6f7f9;
    --date-color: #0d882a;
    --separator-color: #efefef;
    --button-hover-color: #dad2ac;
    --border-priority-one: #ffff00;
    --border-priority-two: #ffa500;
    --border-priority-three: #ff0000;
    --background-priority-one: #ededcf;
    --background-priority-two: #f4e6ce;
    --background-priority-three: #efd8d8;
    --thumb-color: #363636;
    --track-background-color: #e7e7e7;
    --track-border-color: #cacaca;
    --standard-shadow: 0 2px 6px #00000050;
    --scrollbar-shadow: inset 0 0 6px #0000004d;
    --basic-border: 1px solid #000000;
    --toggle-button-sidelength: 1rem;
    --remove-button-sidelength: 1.5rem;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

li,
button,
img,
#currentProjectTitle {
    cursor: pointer;
    white-space: pre-wrap;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

.buttonShadow {
    box-shadow: var(--standard-shadow);
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* --- Sidebar style --- */

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--side-bar-color);
}

#sidebar h2 {
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

#logo {
    max-width: 100px;
    margin: 10px 50px 50px 50px;
}

#project-container {
    border: var(--basic-border);
    min-width: 100%;
    min-height: 50%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    overflow-y: visible;
}

#project-container li {
    margin: 0.2rem 2rem 0 2rem;
    font-size: 1.2rem;
}

#project-container li:hover {
    font-weight: bold;
}

/* Button */
.newProject {
    background-color: var(--main-color);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 3rem;
    font-weight: bold;
    font-size: 0.9rem;
    min-width: 210px;
}

.newProject:hover {
    background-color: var(--button-hover-color);
}

/* --- Main content style --- */

#content-container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
}

#currentProjectTitle:hover, #content-container li:hover {
    text-decoration: underline;
}

#content-container ul {
    margin: 1rem 0;
}

#uncompleteTodos, #completedTodos {
    overflow-y: scroll;
    height: 30vh;
    width: 25vw;
    min-width: 180px;
}

ul span {
    display: grid;
    align-items: center;
    grid-template-columns: 1rem 15vw 26px;
    gap: 1rem;
}

ul p {
    margin-left: 2rem;
    color: var(--date-color);
    border-bottom: 1px solid var(--separator-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    width: calc(1rem + 15vw + 26px);
}

#content-container h2 {
border-top: var(--basic-border);
padding-top: 1rem;
margin-top: 1rem;
}

/* Scrollbar */
#uncompleteTodos::-webkit-scrollbar, #completedTodos::-webkit-scrollbar {
    width: 12px;
}

#uncompleteTodos::-webkit-scrollbar-track, #completedTodos::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--track-background-color);
    border: 1px solid var(--track-border-color);
    box-shadow: var(--scrollbar-shadow);
}

#uncompleteTodos::-webkit-scrollbar-thumb, #completedTodos::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--thumb-color);
}

/* Buttons */

.newTodo {
    background-color: var(--track-border-color);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    width: 140px;
    padding: 0.3rem;
}

.newTodo:hover {
    background-color: var(--button-hover-color);
}

/* --- Main container buttons style --- */

.toggleButton,
.removeButton {
    border-radius: 100px;
    padding: 0;
}

.removeButton {
    height: var(--remove-button-sidelength);
    width: var(--remove-button-sidelength);
}

img.removeButton:hover {
    border: var(--basic-border);
}

img.removeButton {
    border: 1px solid var(--main-color);
}

.toggleButton {
    height: var(--toggle-button-sidelength);
    width: var(--toggle-button-sidelength);
    border-width: 1px;
    border-style: solid;
}

/* Priority color */
.prioOne {
    border-color: var(--border-priority-one);
    background-color: var(--background-priority-one);
}

.prioTwo {
    border-color: var(--border-priority-two);
    background-color: var(--background-priority-two);
}

.prioThree {
    border-color: var(--border-priority-three);
    background-color: var(--background-priority-three);
}

/* --- Dialog style --- */

dialog::backdrop {
    backdrop-filter: blur(2px);
}

dialog {
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1rem;
    box-shadow: var(--standard-shadow);
}

form {
    display: grid;
    grid-template-columns: 100px 200px;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

dialog div {
    display: flex;
    gap: 0.5rem;
}

#viewProjectDialogButtons img {
    width: 1rem;
    align-self: center;
    margin-left: auto;
}