:root {
    --main-color: #e2e8f0;
    --button-hover-color: #d5dbe3;
    --border-priority-one: #ffff00;
    --border-priority-two: #ffa500;
    --border-priority-three: #ff0000;
    --background-priority-one: #ededcf;
    --background-priority-two: #f4e6ce;
    --background-priority-three: #efd8d8;
    --standard-shadow: 0 2px 3px #00000050;
    --toggle-button-sidelength: 1rem;
    --remove-button-sidelength: 1.5rem;
}

* {
    margin: 0;
}

ul {
    list-style: none;
}

li, button, #content-container img, #currentProjectTitle{
    cursor: pointer;
    white-space: pre-wrap;
}

textarea {
    resize: none;
}

.newProject:hover {
    background-color: var(--button-hover-color);
}

.buttonShadow {
    box-shadow: var(--standard-shadow);
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo {
    max-width: 100px;
    margin: 10px 50px 50px 50px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar h2 {
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

#project-container {
    border: 1px solid #000000;
    min-width: 100%;
    min-height: 50%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

#project-container li {
    margin: 0.2rem 2rem 0 2rem;
    font-size: 1.2rem;
}

#project-container li:hover {
    font-weight: bold;
}

.newProject {
    background-color: var(--main-color);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 3rem;
    font-weight: bold;
    font-size: 0.9rem;
    min-width: 210px;
}

#content-container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.newTodo {
    width: 100px;
}

#new-project-dialog {
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1rem;
    box-shadow: var(--standard-shadow);
}

#new-project-dialog:open {
    display: flex;
    flex-direction: column;
}

#new-project-form {
    display: grid;
    grid-template-columns: 100px 200px;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

#content-container span, #content-container p {
    width: 200px;
    display: flex;
}

#content-container span {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#content-container p {
    justify-content: center;
}

.toggleButton, .removeButton {
    border-radius: 100px;
    padding: 0;
}

.toggleButton {
    height: var(--toggle-button-sidelength);
    width: var(--toggle-button-sidelength);
    border-width: 1px;
    border-style: solid;
}

.removeButton {
    height: var(--remove-button-sidelength);
    width: var(--remove-button-sidelength);
}

.prioOne {
    border-color: var(--border-priority-one);
    background-color: var(--background-priority-one);
}

.prioTwo {
    border-color: var(--border-priority-two);
    background-color: var(--background-priority-two);
}

.prioThree {
    border-color: var(--border-priority-three);
    background-color: var(--background-priority-three);
}